.image_dog_one {
    display: grid;
    width: 580px;
    height: 370px;
}


.about_us {
    margin-top: 90px;
    margin-right: 175px;
    margin-left: 175px;
    margin-bottom: 100px;
}

.about_us_container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 23px;
}




.hh_about {
    font-size: 44px;
    color: var(--section-name-color);
    line-height: 1;
    font-family: var(--mainfont);
    font-weight: 700;
    
    font-style: normal;
    letter-spacing: 0;
}


.pp_about {
    font-size: 16px;
    line-height: 1.7;
    font-family: var(--textfont);
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    color: #585858;
    text-transform: none;
    margin-top: 25px;
}


.button_aboutus {
    padding: 10px 20px 10px 20px;
     margin-top: 25px;
}