.image_dog_one {
    width: 580px;
    height: 370px;
}


.about_us {
    margin-top: 90px;
    margin-bottom: 100px;
}

.about_us_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
}


.text_container_about {
    width: 40%;
}


.hh_about {
    font-size: 44px;
    color: var(--section-name-color);
    line-height: 1;
    font-family: var(--mainfont);
    font-weight: 700; 
    font-style: normal;
    letter-spacing: 0;
}


.pp_about {
    font-size: 16px;
    line-height: 1.7;
    font-family: var(--textfont);
    font-style: normal;
    letter-spacing: 0;
    color: #585858;
    margin-top: 25px;
}


.button_aboutus {
    padding-top: 40px;
}

.button_aboutus button[type="submit"] {
    display: inline-block;
    font-size: 0.9rem;
    background: #ffffff;
    color: #1d1c1c;
    border: 1px solid ;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.75rem 1.25rem;
    transition: background 0.25s, color 0.25s;
  }
  
  .button_aboutus button[type="submit"]:hover {
    color: #ffffff;
    background: #65c178;
  }

