.background_petSittersWanted_section {
    background-image: url(/img/background3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
     background-attachment: fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover; 
      
    
     /* -webkit-filter: contrast(35%);
     filter: contrast(35%);*//* зробити затемнення картинки*/
      
}
.background_shadow {
    background-color:rgba(54, 54, 54, 0.756);
}

.need_sitter_container {
    margin-left: 175px;
    margin-right: 175px;
  
}

.contact_form_location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}


.contact_form_petSitters {
    width: 570px;
    height: 630px;
    background-color: #ffffff;   
    border-radius: 4px;
}

.hh2_pp_petSit_Wanted_location {
    padding-top: 60px;
    padding-right: 59px;
    padding-left: 59px;
    padding-bottom: 35px ;
}

.hh2_petSit_Wanted {
    font-size: 44px;
    color: #585858;
    line-height: 1;
    font-family: 'Cabin', sans-serif;
    font-weight: 550;
    padding-bottom: 30px;
}
 
.pp_petSit_Wanted {
    font-size: 15px;
    line-height: 1.75;
    font-family: Lato,sans-serif;
    font-weight: 300;
    color: #585858;    
}

 

.figura_position_petSit_all {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
     
}
.figura_position_petSit {
    width: 456px;
    height: 45px;
    background-color: rgba(88, 88, 88, 0.12);
    border-style: solid;
    border-color: rgba(88, 88, 88, 0.001);
    border-radius: 5px;

    font-size: 15px;
    line-height: 1.7;
    font-weight: 400;
    font-family: 'Lato',sans-serif;
    color: #b2b2b2;
    padding: 13px 18px;
}

.figura_position_petSit:focus{
    border-color: rgb(81, 149, 228);}

.text_posotion_ChoseFile {
    display: flex;
    flex-direction: row;
    gap: 10px;
 }

.img_position_petSitWanted {
    width: 18px;
    height: 18px;
}

 .position_container_img_PetSit {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-left: 59px;
    gap: 10px;
 }


.hh3_text_colories_ChoseFile {
    font-size: 16px;
    line-height: 1.7;
    font-family: 'Lato',sans-serif;
    font-weight: 400;
    color: #585858;
}


.button_contactForm button[type="submit"] {
    display: inline-block;
    font-size: 1rem;
    background: #65c178;
    color: #ffffff;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.7rem 10rem;
    transition: background 0.25s, color 0.25s;
  }
  
  .button_contactForm button[type="submit"]:hover {
    color: #ffffff;
    background: #585858;
  }











    /* CSS для оформлення контактної форми */
   

    .form-group {
        margin-bottom: 1px;
    }


    .form-group input[type="text"],
    .form-group input[type="email"] {
       
        padding: 8px;
        border-radius: 5px;
    }

    .attach-file {
        display: inline-block;
        background-color: #007bff;
        color: #fff;
        padding: 8px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .files-list {
        margin-top: 10px;
    }

    .files-list li {
        margin-bottom: 5px;
    }

    .delete-file {
        color: red;
        cursor: pointer;
        margin-left: 5px;
    }

    .find-me {
        background-color: #28a745;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }



  

 





















*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary: #8800ff;
    --primary-hover: #6c00ca;
    --bg: #111315;
    --secondary: #262626;
    --secondary-hover: #383838;
    --dropzone-bg: #1A1C1E;
    --gray: #D3D3D3;
    --border: #333333;
    --dropzone-border: #FFF;
    --text: #FFF;
    --primary-text: #F2F7FE;
    --dropzone-over: var
    (--secondary);
}

.style_bodd {
    font-family: 'Work Sans', sans-serif;
    background: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1rem;
    color: var(--text);
}

*::selection {
    background: var(--primary);
    color: var(--btn-text);
}

.dropzone-box {
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 36rem;
    border: 1px solid var(--border);
    width: 100%;
    background: var(--dropzone-bg);
}

.dropzone-box h2 {
    font-size: 1.4rem;
    margin-bottom: 0.6rem;
    color: var(--headline);
}

.dropzone-box p {
    font-size: 1.15rem;
    color: var(--gray);
}

.dropzone-area {
    padding: 1rem;
    position: relative;
    margin-top: 1.5rem;
    min-height: 16rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px dashed var(--dropzone-border);
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dropzone-area [type="file"] {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.dropzone-area .file-upload-icon svg {
    height: 6rem;
    max-width: 6rem;
    width: 100%;
    margin-bottom: 0.5rem;
    stroke: var(--headline);
}

.dropzone-area:hover {
    background: var(--dropzone-over);
}

.dropzone--over {
    border: 2px solid var(--primary);
    background: var(--dropzone-over);
}

.dropzone-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 1rem;
    flex-wrap: wrap;
}

.dropzone-actions button {
    flex-grow: 1;
    min-height: 3rem;
    font-size: 1.2rem;
    border: none;
    transition: background 0.3s ease;
}

.dropzone-actions button[type='reset'] {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    color: var(--text);
    background: var(--secondary);
    cursor: pointer;
    border: 1px solid var(--border);
}

.dropzone-actions button[type='reset']:hover {
    background: var(--secondary-hover);
}

.dropzone-actions button[type='submit'] {
    background: var(--primary);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    color: var(--primary-text);
    border: none;
    cursor: pointer;
}

.dropzone-actions button[type='submit']:hover {
    background: var(--primary-hover);
}




  

 



