.footer {
    background-color: #2a3034;
    padding-top: 50px;
    padding-bottom: 20px;
}

.container {
    max-width: 1170px;
    margin: auto;
}


@media only screen and (min-width:320px) and (max-width:477px) {
    .container  {
    max-width: 310px;
    margin: auto;
    }
  }

  @media only screen and (min-width:477px) and (max-width:601px) {
    .container  {
        max-width: 400px;
    margin: auto;
    }
  }

  @media only screen and (min-width:601px) and (max-width:991px) {
    .container  {
        max-width: 590px;
    margin: auto;
    }
  }

  @media only screen and (min-width:991px) and (max-width:1200px) {
    .container  {
        max-width: 850px;
    margin: auto;
    }
  }


.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}


ul {
    list-style: none;
}

.footer-col {
    width: 20%;
    padding: 0 15px;
}

@media only screen and (min-width:320px) and (max-width:477px) {
    .footer-col  {    
        display: flex;
        justify-content: center;
    }
  }

.footer-col h4 {
    font-size: 18px;
    color: #FFF;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #65c178;
    width: 50px;
    height: 2px;
}

 

.footer-col ul li:not(:last-child) {
    margin-bottom: 20px;
}

.footer-col ul li a {
    color: #DDD;
    display: block;
    font-size: 1rem;
    font-weight: 300;
    text-transform: capitalize;
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 16px;
}

@media only screen and (min-width:320px) and (max-width:477px) {
    .footer-col ul li a  {    
        display: flex;
        justify-content: center;
    }
  }

.footer-col ul li a:hover {
    padding-left: 7px;
    color: #56b3e9;
    transition: 0.1s;
}

.footer-col .social-links a {
    color: #65c178;
    background-color: rgba(255, 255, 255, 0.2);
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    margin: 0 10px 10px 0;
    line-height: 40px;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #151515;
    background-color: #65c178;
}

@media only screen and (min-width:320px) and (max-width:477px) {
    .footer-col .social-links a  {
        height: 30px;
        width: 30px;
        background-color: #2a3034;
        border-style: solid;
        border-color: #65c178;
        border-width: 0.5px;
        line-height: 30px;
    }
  }



  @media only screen and (min-width:320px) and (max-width:477px) {
    .footer-col  {
        display: flex;
        flex-direction: column;
    }
  }

@media only screen and (min-width:320px) and (max-width:477px) {
    .footer-col  {
        width: 80%;
        margin-bottom: 30px;
    }
  }

  @media only screen and (min-width:477px) and (max-width:601px) {
    .footer-col  {
        width: 90%;
        margin-bottom: 30px;
    }
  }




.foot_position_cont {
    display: flex;
    flex-direction: column;
    color: #FFF;
    width: 19%;
}


@media only screen and (min-width:320px) and (max-width:477px) {
    .foot_position_cont  {
        width: 100%;
        margin-bottom: 30px;
    }
  }

  @media only screen and (min-width:477px) and (max-width:601px) {
    .foot_position_cont  {
        width: 90%;
        margin-bottom: 30px;
    }
  }

  @media only screen and (min-width:320px) and (max-width:477px) {
    .footer  {
        display: flex;
        flex-direction: column;
    }
  }

    .hh2_foot_cont {
    font-size: 24px;
    color: #65c178;
    line-height: 1;
    font-family: Cabin,sans-serif;
    font-weight: 700;
    text-transform: none;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    }

    .pp_foot_cont {
        font-size: 16px;
        line-height: 1.75;
        font-family: 'Open Sans',sans-serif;
        font-weight: 400;
        text-decoration: none;
        font-style: normal;
        letter-spacing: 0;
        color: #fff;
        padding-top: 15px;
        }




    .footer-col_two {
        max-width: 1170px;
        margin: auto;
        display: flex;
        flex-direction: row;  
        justify-content: space-between;
        padding-top: 50px;
    }

    .hh3_foot_col_two {
        width: 20%;
        padding-left: 15px;
        font-size: 14px;
        line-height: 1.4545;
        font-family: 'Open Sans',sans-serif;
        font-weight: 400;
        text-decoration: none;
        font-style: normal;
        letter-spacing: 0;
        color: #fff;
       
    }

    .pp_foot_cont_two {
        width: 20%;
    font-size: 14px;
    line-height: 1.4545;
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    color: #fff;
    }

    @media only screen and (min-width:320px) and (max-width:477px) {
        .footer-col_two  {    
            display: flex;
            flex-direction: column; 
            padding-top: 20px; 
        }
      }

      @media only screen and (min-width:320px) and (max-width:477px) {
        .hh3_foot_col_two  {
            width: 100%;
            padding-left: 0px;
        }
      }

      
      @media only screen and (min-width:320px) and (max-width:477px) {
        .pp_foot_cont_two  {
            width: 100%;
            padding-bottom: 15px;
        }
      }