.footer {
    background-color: #2a3034;
    padding-top: 50px;
    padding-bottom: 20px;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    list-style: none;
}

.footer-col {
    width: 20%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #FFF;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #65c178;
    width: 50px;
    height: 2px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 20px;
}

.footer-col ul li a {
    color: #DDD;
    display: block;
    font-size: 1rem;
    font-weight: 300;
    text-transform: capitalize;
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 16px;
}

.footer-col ul li a:hover {
    padding-left: 7px;
    color: #56b3e9;
    transition: 0.1s;
}

.footer-col .social-links a {
    color: #65c178;
    background-color: rgba(255, 255, 255, 0.2);
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    margin: 0 10px 10px 0;
    line-height: 40px;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #151515;
    background-color: #65c178;
}

@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}


.footer-col h3 {
    font-size: 15px;
    line-height: 1.4545;
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    color: #fff;
    text-transform: none;
    padding-top: 90px;
   
}



.foot_position_cont {
    display: flex;
    flex-direction: column;
    color: #FFF;
    width: 19%;
}


.hh2_foot_cont {
font-size: 26px;
color: #65c178;
line-height: 1;
font-family: Cabin,sans-serif;
font-weight: 700;
text-transform: none;
text-decoration: none;
font-style: normal;
letter-spacing: 0;
}

.pp_foot_cont {
    font-size: 16px;
    line-height: 1.4545;
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    color: #fff;
    text-transform: none;
    padding-top: 30px;
    padding-bottom: 50px;
}