

.header_background_home {
   background-color: #676767;
   background: linear-gradient( rgba(68, 68, 68, 0.5), rgba(39, 39, 9, 0.179) ), url("http://res2.weblium.site/res/5c5321a02e017b00227a5282/5c5329ae44bc470022e84d7a_optimized_5120");
  -webkit-background-size: cover;
  -moz-background-size:  cover;
  -o-background-size: cover;
  background-size: cover;  
  

 
    background-size: cover;
    background-position: center;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    overflow-x: hidden;
    height: 800px;
   
}

.header_green {
    background-color: #65c178;
    height: 47px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header_right {
    display: flex;  
    margin-right: 175px;
    gap: 15px;
}
.logo_container {
    display: block;
    height: 30px;
    width: 30px;
    border: solid;
    border-color: #ffffff;
    border-width: 1px;
    border-radius: 50%;
}

.imagelogo {
    width: 17px;
    height: 17px;
    cursor: pointer;
    margin: 5px 5px 5px 5px;
}

.numberspan {
    font-size: 16px;
    line-height: 1.7;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    color: #fff;
    text-transform: none;
    margin-left: 175px;
}



.menu_link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 175px;
    margin-right: 175px;
    margin-top: 45px;
}


.text_bestpet{
    font-size: 34px;
    color: #ffffff;
    line-height: 1;
    font-family: 'Cabin', sans-serif;
    font-weight: 700; 
    text-transform: none;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;  
}

.nav__menu {
    display: flex;
    gap: 45px
}
.nav__menu-link {
    position: relative;
    max-width: 100%;
    color: #ffffff;
    line-height: normal;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}

 
 .text_h_p {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
    gap: 25px;
 }

 .hhtext_box {
    font-size: 62px;
    color: #ffffff;
    line-height: 1;
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    text-transform: none;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
 }

 .pptext_box {
    font-size: 16px;
    line-height: 1.75;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    color: #ffffff;
    text-transform: none;
 }


 .botton_position_block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
 }


    .buttom_header button[type="submit"] {
        display: inline-block;
        font-size: 1rem;
        background: #65c178;
        color: #ffffff;
        border: 1px solid transparent;
        cursor: pointer;
        padding: 0.75rem 1.25rem;
        transition: background 0.25s, color 0.25s;
      }
      
      .buttom_header button[type="submit"]:hover {
        color: #65c178;
        background: #ffffff;
      }


      .buttom_header_two button[type="submit"] {
        display: inline-block;
        font-size: 1rem;
        background: #ffffff;
        color: #65c178;
        border: 1px solid transparent;
        cursor: pointer;
        padding: 0.75rem 1.25rem;
        transition: background 0.25s, color 0.25s;
      }
      
      .buttom_header_two button[type="submit"]:hover {
        color: #676767;
        background: #ffffff;
      }





      .button_container_one { 
        width: 165px;
        height: 55px;
        border: none;
        padding: 13px 34px;
        background-color: #65c178;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        color: white;
        font-family: var(--mainfont);
        margin-top: 60px;
        border-radius: 4px;
        border-width: 2px;
      }
    
      .button_container_two {
        width: 190px;
        height: 55px;
        border: none;
        padding: 13px 34px;
        background-color: #ffffff;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        color: white;
        font-family: var(--mainfont);
        margin-top: 60px;
        border-radius: 4px;
        border-width: 2px;
      }

   
    
    