.green_container {
    position: relative;
    width: 320px;
    height: 200px;
    border: solid;
    border-color: #686868;
    background-color: #65c178;
    
}

.green_container_position {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-right: 175px;
    padding-left: 175px;
}